
@import '../../../../src/styles/propertySets';

.post-container {
    /* background: #e2e8d5; */
    display: flex;
    flex-direction: column;
    padding: 0 0 10px 0;
    margin: 0 2%;
    width: 20em
}
.heading {
    height: 30%;
    display: flex;
}

.searchLink {
    width: 300px;
    margin-top: 25px;
  
    /* Remove link's hover effect */
    &:hover {
      text-decoration: none;
    }
  }

.searchImage {
    /* Layout - image will take space defined by aspect ratio wrapper */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}

@media (--viewportMedium) {
    .searchLink {
      margin-top: 0;
      margin-right: 40px;
      margin-bottom: 0;
  
      &:last-of-type {
        margin-right: 0;
      }
    }
  }


a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

/* A wrapper for a responsive image that holds it's aspect ratio */
.imageWrapper {
    position: relative;
    width: 100%;
    height: 210px;
    border-radius: 4px;
    transition: var(--transitionStyleButton);
  
    &:hover {
      transform: scale(1.02);
      box-shadow: var(--boxShadowSectionLocationHover);
    }
  }

.aspectWrapper {
    padding-bottom: calc(6 / 13 * 100%); /* 13:6 Aspect Ratio */
  
    @media (--viewportMedium) {
      padding-bottom: calc(2 / 3 * 100%); /* 3:2 Aspect Ratio */
    }
}

  .linkText {
    @apply --marketplaceH2FontStyles;
    color: var(--matterColor);
    margin-top: 15px;
    margin-bottom: 0px;
  
    @media (--viewportMedium) {
      margin-top: 21px;
    }
  }